[Libraries]
[Libraries]/
[Libraries]/*
[Libraries]/**/*

# Unity specific
[Libraries]/
[Libraries]/**/*
[Libraries]/**/**/*
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Recordings/
.gradle/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.aab
